.Titre{
    color: white;
    font-size: 40px;
}


.menuderoulant{
   
    background-color: rgb(65, 61, 61);
    font-size: 18px;
    margin: 80px;
}

.Body{
   text-align: left;
   background-color: rgb(65, 61, 61);
   color: white;
}

.Accordion.Item{
    border-color: red;
   color: red;
}