.btn-danger{
    font-size: 20px;
}


h1{
    font-size: 20px;
    text-align: center;
}

h2{
    margin-left: 29%;
    margin-right: 29%;
}

h3{
    font-size: 20px;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}